#p2 {
    color: red;
    /* display: none; */
}
#google {
    color: blue;
    display: none;
    /* text-decoration: none; */
}
#p1 {
    color: green;
}
#button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    display: block;
}
.hidden {
    display: none;
} #image {
    width: 200px;
    height: auto;
}